@inherits Blazorade.Bootstrap.Components.BootstrapComponentBase

@if (string.IsNullOrEmpty(Label))
{
	<div class="@(string.Join(' ', Classes))">
		@ChildContent
	</div>
}
else
{
	<div class="@(string.Join(' ', Classes))">
		<label for="@Id">@Label</label>
		<div id="@Id">
			@ChildContent
		</div>
		@if (HasHelp)
		{
			<small id="@($"{Id}-{Bootstrap.HELP}")"
				   class="@(HelpDisplay == Display.Block ? $"{Bootstrap.FORM_TEXT} {Bootstrap.TEXT_MUTED}" : Bootstrap.TEXT_MUTED))">
				@Help
			</small>
		}
	</div>
}